<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, kbopark All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: kbopark
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbopark.operation.mapper.MerchantMapper">

	<resultMap id="merchantMap" type="com.kbopark.operation.entity.Merchant">
		<id property="id" column="id"/>
		<result property="operatorId" column="operator_id"/>
		<result property="distributorId" column="distributor_id"/>
		<result property="promoterId" column="promoter_id"/>
		<result property="name" column="name"/>
		<result property="linkMan" column="link_man"/>
		<result property="linkPhone" column="link_phone"/>
		<result property="provinceName" column="province_name"/>
		<result property="cityName" column="city_name"/>
		<result property="areaName" column="area_name"/>
		<result property="address" column="address"/>
		<result property="businessLicenseNumber" column="business_license_number"/>
		<result property="logo" column="logo"/>
		<result property="credential" column="credential"/>
		<result property="reviewStatus" column="review_status"/>
		<result property="status" column="status"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="tenantId" column="tenant_id"/>
	</resultMap>

	<select id="selectMerchantPage" resultType="com.kbopark.operation.entity.Merchant">
		select m.id as id,
		m.operator_id as operator_id,
		m.distributor_id as distributor_id,
		m.name as name,
		m.link_man as link_man,
		m.logo as logo,
		m.category_key as category_key,
		m.link_phone as link_phone,
		m.province_name as province_name,
		m.city_name as city_name,
		m.area_name as area_name,
		m.address as address,
		m.review_status as review_status,
		m.status as status,
		m.business_status as business_status,
		m.business_license_number as business_license_number,
		m.promote_code as promote_code,
		m.review_username as review_username,
		m.review_time as review_time,
		m.submit_review_username as submit_review_username,
		m.submit_review_time as submit_review_time
		from kboparkx_merchant m
		<where>
			m.del_flag = 0
			<if test="query.reviewStatusKey!=null and query.reviewStatusKey != ''">
				and find_in_set(m.review_status, #{query.reviewStatusKey})
			</if>
			<if test="query.operatorId!=null and query.operatorId != ''">
				and m.operator_id = #{query.operatorId}
			</if>
			<if test="query.distributorId!=null and query.distributorId != ''">
				and m.distributor_id = #{query.distributorId}
			</if>
			<if test="query.promoterId!=null and query.promoterId != ''">
				and m.promoter_id = #{query.promoterId}
			</if>
			<if test="query.promoteCode!=null and query.promoteCode != ''">
				and m.promote_code = #{query.promoteCode}
			</if>
			<if test="query.statusKey!=null and query.statusKey != ''">
				and m.status = #{query.statusKey} and m.review_status &gt; 50
			</if>
			<if test="query.keyWords!=null and query.keyWords != ''">
				and (
				m.name like concat('%', #{query.keyWords}, '%')
				or m.link_man like concat('%', #{query.keyWords}, '%')
				or m.link_phone like concat('%', #{query.keyWords}, '%')
				or m.promote_code like concat('%',#{query.keyWords}, '%')
				)
			</if>
			<if test="query.merchantName!=null and query.merchantName != ''">
				and m.name like concat('%', #{query.merchantName}, '%')
			</if>
		</where>
		order by m.id desc
	</select>
</mapper>
